<nav>
    <div class="site-title">
      <a href="/"><h1>Virtual Shop</h1></a>
      <p>This is a test site</p>
    </div>
    <ul id="navbar">
        <li><a href="/filter?category=IT">IT</a></li>
        <li><a href="/filter?category=Sport">SPORT</a></li>
        <li><a href="/filter?category=Decoration">DECORATION</a></li>
    </ul>
</nav>