<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/stylesheet.css">
</head>


<body>
    <div class="container pt-5 mt-5 col-3">
            <form id="form" method="post">
                <div class="my-3">
                    <label class="form-label" for="name">Username</label>
                    <input class="form-control" type="text" name="username" id="name" placeholder="Username">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="name">Email</label>
                    <input class="form-control" type="text" name="email" id="name" placeholder="example@gmil.com">
                </div>

                <div class="mb-5">
                    <label class="form-label" for="pass">Password</label>
                    <input class="form-control" type="password" name="password" id="pass" placeholder="********" >
                </div>
                <div class="mb-3">
                    <button type="submit" class="mx-auto btn btn-secondary">Register</button>
                </div>
           </form>
           <div>
             <span>You already have an account? </span><a href="login" >Login here</button>
           </div>
     </div>
 </body>

</html>


<script src="/static/script.js"></script>